/* src/Styles/layout/Header.module.css */
.header {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.headerContainer {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* src/Styles/layout/Footer.module.css */
.footer {
  background-color: white;
  border-top-width: 1px;
}

.footerContainer {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
}

/* src/Styles/layout/Layout.module.css */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex-grow: 1;
}